:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  /* Prevent scrolling on mobile */
  touch-action: none;
  /* Prevent default touch actions like pull-to-refresh */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p {
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}